<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>

          <th>Description</th>
          <th>Rating</th>
          <th>Name</th>
          <th>Date </th>
        </tr>
      </thead>
      <tbody>
        <% @product.reviews.each do |review| %>
        <tr>
            <td> <%=review.inspect %> </td>
        </tr>
      <% end %>
    </tbody>
    </table>

    <%= form_for :review, url: "/products/#{@product.id}/reviews" do |r| %>
      Description: <%= r.text_area :description%>
      Rating: <%= r.select :rating,options_for_select([1,2,3,4,5]), {}%>
      <%= submit_tag("Search") %>
    <% end %>
  </article>

</section>
